* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html {
    font-size: 100%;

        @include respond(laptop) {
            font-size: 80%;
        }
        @include respond(tablet) {
            font-size: 65%;
        }
}
body {
    padding: 1.875rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

        @include respond(tablet) {
            padding: 0;
        }
}