$color-light:  #7ed56f;
$color-dark: #28b485;
$color-medium:#55c57a;
$color-sec-light: #ffb900;
$color-sec-dark: #ff7730;
$color-ter-light: #2998ff;
$color-ter-dark: #5643fa;
$color-light-grey: #f7f7f7;
$color-dark-grey: #777;
$color-dark-grey-2: #999;
$color-dark-grey-3: #333;
$color-white: #fff;
$color-black: black;

$grid-width: 71.25rem;
$gutter-horizontal: 4rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 2rem;

$box-shadow-big: 0 1rem 2.5rem rgba($color-black, .2);
$box-shadow-medium: 0 0.6rem 1.25rem rgba($color-black, .3);
$box-shadow-small: 0 0.3rem 0.6rem rgba($color-black, .4);