.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, 0.8);
    z-index: 300;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &-content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &-close {
        &:link,
        &:visited {
            color: $color-dark-grey;
            position: absolute;
            top: .7rem;
            right: 1rem;
            font-size: 2rem;
            text-decoration: none;
            line-height: 1;
            display: inline-block;
            transition: all .2s;
        }
        &:hover {
            color: $color-light;
        }
    }

    &-content {
        @include text-positioning;
        position: absolute;
        width: 75%;
        background-color: $color-white;
        -webkit-box-shadow: $box-shadow-medium;
                box-shadow: $box-shadow-medium;
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.2);
        transition: .4s .2s;

        @include respond(tablet) {
            width: 95%;
            height: auto,
        }
    }

    &-left {
        width: 33.33%;
        display: table-cell;
       
       
         @include respond(tablet) {
            display: none;
        }

    }

    &-right {
        width: 66.66%;
        display: table-cell;
        vertical-align: middle;
        padding: 2rem 3rem;

        @include respond(tablet) {
            padding: 1.5rem;
            width: 100%;
        }     

    }

    &-img {
        display: block;
        width: 100%;
        
        @include respond(tablet) {
           display: none;
        }
    }

    &-text {
        margin-bottom: 2rem;

        -webkit-column-count: 2;

                column-count: 2;
        -webkit-column-gap: 3rem;
                column-gap: 3rem;
        -webkit-column-rule: 1px solid $color-dark-grey-2;
                column-rule: 1px solid $color-dark-grey-2;
        -webkit-hyphens: auto;
            -ms-hyphens: auto;
                hyphens: auto;
        
       
        @include respond(tablet) {
            margin-bottom: 1rem;
            -webkit-column-count: 1;
                column-count: 1;
        }
    }
}
